<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="/css/app/main/main.css">
	<title>주차장 대시보드</title>
</head>

<body>
	<th:block th:replace="layout/header"></th:block>

	<main>
		<div class="parkingLotListCard">
			<ul id="parkingLotListUl">
				<li th:each="list : ${parkingLotList}" th:text="${#strings.setSplit(list.parkingLotId, '_')[1].replace('-', ' ')}"
					th:data-parking-lot-id="${list.parkingLotId}" th:data-user-name="${list.userName}">
					<!-- 왜 히든을 사용 못할까 일단 data 속성으로 대체 -->
					<input type="hidden" id="hiddenParkingLotName" th:value="${#strings.setSplit(list.parkingLotId, '_')[1]}">
					<input type="hidden" id="hiddenFolderStructure" th:value="${list.folderStructure}">
					<input type="hidden" id="hiddenUserId" th:value="${list.userId}">
					<input type="hidden" id="hiddenParkingZoneType" th:value="${list.parkingZoneType}">
					<input type="hidden" id="hiddenNormalZoneCount" th:value="${list.normalZoonCount}">
					<input type="hidden" id="hiddenElectronicZoneCount" th:value="${list.electronicZoonCount}">
					<input type="hidden" id="hiddenDisabledZoneCount" th:value="${list.disabledZoonCount}">
				</li>
			</ul>

			<button id="saveParkingLot">주차장 등록</button>
		</div>

		<div class="sensorListCard">
			<div class="sensorListDiv">
				<table class="sensorListTable">
					<colgroup>
						<col style="width: 100px;">
						<col style="width: 155px;">
						<col style="width: 115px;">
						<col style="width: 140px;">
						<col style="width: 290px;">
						<col style="width: 190px;">
						<col style="width: 120px;">
						<col style="width: 110px;">
						<col style="width: 262px;">
					</colgroup>
					<thead>
						<tr>
							<th>코드</th>
							<th>IP</th>
							<th>센서 타입</th>
							<th>설치 위치</th>
							<th>마지막 파일 명</th>
							<th>마지막 파일 수신시간</th>
							<th>현재상태</th>
							<th>사용여부</th>
							<th>미사용 이유</th>
						</tr>
					</thead>
					<tbody>

					</tbody>
				</table>
			</div>

			<div class="sensorListBtnDiv">
				<button id="saveSensorList">저장</button>
			</div>
		</div>
	</main>

	<th:block th:replace="sensor/parkingLotPop"></th:block>
</body>

<script type="text/JavaScript" src="/js/lib/jquery.js"></script>
<script type="text/JavaScript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type="text/javascript" src="/js/app/sensor/sensor.js"></script>

<script th:inline="javascript">

</script>
</html>