<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="com.qst.mapper.ParkingLotMapper">

	<select id="getParkingLotInfo" resultType="ParkingLot">
	/* getParkingLotInfo 쿼리 실행 */
		SELECT
			PARKING_LOT_ID
		,	PARKING_LOT_NM
		,	GRP_ID
		,	PARKING_LOT_MAP AS PARKING_LOT_X
		,	PARKING_LOT_MAP AS PARKING_LOT_Y
		,	PARKING_SPOT_ALL
		,	PARKING_SPOT_D
		,	PARKING_SPOT_E
		,	PARKING_SPOT_N
		,	PARKING_SPOT_USE_ALL
		,	PARKING_SPOT_USE_D
		,	PARKING_SPOT_USE_E
		FROM parking_lot
		WHERE PARKING_LOT_ID = #{value}
	</select>
	
	<select id="getParkingLotList" resultType="ParkingLot">
	/* getParkingLotList 쿼리 실행 */
		SELECT
			PARKING_LOT_ID
		,	PARKING_LOT_NM
		,	GRP_ID
		FROM parking_lot
	</select>

</mapper>