@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
}

em, address {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

span {
  vertical-align: middle;
}

img {
  border: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

p {
  word-break: keep-all;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.wrap {
  width: 1720px;
  margin: 0 auto;
}

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.flex-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
}

.float-r {
  float: right;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.w-0 {
  width: 0% !important;
}

.h-0 {
  height: 0px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.fs-0 {
  font-size: 0px !important;
}

.w-1 {
  width: 1% !important;
}

.h-1 {
  height: 1px !important;
}

.mr-1 {
  margin-right: 1px !important;
}

.mt-1 {
  margin-top: 1px !important;
}

.ml-1 {
  margin-left: 1px !important;
}

.mb-1 {
  margin-bottom: 1px !important;
}

.fs-1 {
  font-size: 1px !important;
}

.w-2 {
  width: 2% !important;
}

.h-2 {
  height: 2px !important;
}

.mr-2 {
  margin-right: 2px !important;
}

.mt-2 {
  margin-top: 2px !important;
}

.ml-2 {
  margin-left: 2px !important;
}

.mb-2 {
  margin-bottom: 2px !important;
}

.fs-2 {
  font-size: 2px !important;
}

.w-3 {
  width: 3% !important;
}

.h-3 {
  height: 3px !important;
}

.mr-3 {
  margin-right: 3px !important;
}

.mt-3 {
  margin-top: 3px !important;
}

.ml-3 {
  margin-left: 3px !important;
}

.mb-3 {
  margin-bottom: 3px !important;
}

.fs-3 {
  font-size: 3px !important;
}

.w-4 {
  width: 4% !important;
}

.h-4 {
  height: 4px !important;
}

.mr-4 {
  margin-right: 4px !important;
}

.mt-4 {
  margin-top: 4px !important;
}

.ml-4 {
  margin-left: 4px !important;
}

.mb-4 {
  margin-bottom: 4px !important;
}

.fs-4 {
  font-size: 4px !important;
}

.w-5 {
  width: 5% !important;
}

.h-5 {
  height: 5px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.fs-5 {
  font-size: 5px !important;
}

.w-6 {
  width: 6% !important;
}

.h-6 {
  height: 6px !important;
}

.mr-6 {
  margin-right: 6px !important;
}

.mt-6 {
  margin-top: 6px !important;
}

.ml-6 {
  margin-left: 6px !important;
}

.mb-6 {
  margin-bottom: 6px !important;
}

.fs-6 {
  font-size: 6px !important;
}

.w-7 {
  width: 7% !important;
}

.h-7 {
  height: 7px !important;
}

.mr-7 {
  margin-right: 7px !important;
}

.mt-7 {
  margin-top: 7px !important;
}

.ml-7 {
  margin-left: 7px !important;
}

.mb-7 {
  margin-bottom: 7px !important;
}

.fs-7 {
  font-size: 7px !important;
}

.w-8 {
  width: 8% !important;
}

.h-8 {
  height: 8px !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.ml-8 {
  margin-left: 8px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.fs-8 {
  font-size: 8px !important;
}

.w-9 {
  width: 9% !important;
}

.h-9 {
  height: 9px !important;
}

.mr-9 {
  margin-right: 9px !important;
}

.mt-9 {
  margin-top: 9px !important;
}

.ml-9 {
  margin-left: 9px !important;
}

.mb-9 {
  margin-bottom: 9px !important;
}

.fs-9 {
  font-size: 9px !important;
}

.w-10 {
  width: 10% !important;
}

.h-10 {
  height: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.fs-10 {
  font-size: 10px !important;
}

.w-11 {
  width: 11% !important;
}

.h-11 {
  height: 11px !important;
}

.mr-11 {
  margin-right: 11px !important;
}

.mt-11 {
  margin-top: 11px !important;
}

.ml-11 {
  margin-left: 11px !important;
}

.mb-11 {
  margin-bottom: 11px !important;
}

.fs-11 {
  font-size: 11px !important;
}

.w-12 {
  width: 12% !important;
}

.h-12 {
  height: 12px !important;
}

.mr-12 {
  margin-right: 12px !important;
}

.mt-12 {
  margin-top: 12px !important;
}

.ml-12 {
  margin-left: 12px !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.w-13 {
  width: 13% !important;
}

.h-13 {
  height: 13px !important;
}

.mr-13 {
  margin-right: 13px !important;
}

.mt-13 {
  margin-top: 13px !important;
}

.ml-13 {
  margin-left: 13px !important;
}

.mb-13 {
  margin-bottom: 13px !important;
}

.fs-13 {
  font-size: 13px !important;
}

.w-14 {
  width: 14% !important;
}

.h-14 {
  height: 14px !important;
}

.mr-14 {
  margin-right: 14px !important;
}

.mt-14 {
  margin-top: 14px !important;
}

.ml-14 {
  margin-left: 14px !important;
}

.mb-14 {
  margin-bottom: 14px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.w-15 {
  width: 15% !important;
}

.h-15 {
  height: 15px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.fs-15 {
  font-size: 15px !important;
}

.w-16 {
  width: 16% !important;
}

.h-16 {
  height: 16px !important;
}

.mr-16 {
  margin-right: 16px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.ml-16 {
  margin-left: 16px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.w-17 {
  width: 17% !important;
}

.h-17 {
  height: 17px !important;
}

.mr-17 {
  margin-right: 17px !important;
}

.mt-17 {
  margin-top: 17px !important;
}

.ml-17 {
  margin-left: 17px !important;
}

.mb-17 {
  margin-bottom: 17px !important;
}

.fs-17 {
  font-size: 17px !important;
}

.w-18 {
  width: 18% !important;
}

.h-18 {
  height: 18px !important;
}

.mr-18 {
  margin-right: 18px !important;
}

.mt-18 {
  margin-top: 18px !important;
}

.ml-18 {
  margin-left: 18px !important;
}

.mb-18 {
  margin-bottom: 18px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.w-19 {
  width: 19% !important;
}

.h-19 {
  height: 19px !important;
}

.mr-19 {
  margin-right: 19px !important;
}

.mt-19 {
  margin-top: 19px !important;
}

.ml-19 {
  margin-left: 19px !important;
}

.mb-19 {
  margin-bottom: 19px !important;
}

.fs-19 {
  font-size: 19px !important;
}

.w-20 {
  width: 20% !important;
}

.h-20 {
  height: 20px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.w-21 {
  width: 21% !important;
}

.h-21 {
  height: 21px !important;
}

.mr-21 {
  margin-right: 21px !important;
}

.mt-21 {
  margin-top: 21px !important;
}

.ml-21 {
  margin-left: 21px !important;
}

.mb-21 {
  margin-bottom: 21px !important;
}

.fs-21 {
  font-size: 21px !important;
}

.w-22 {
  width: 22% !important;
}

.h-22 {
  height: 22px !important;
}

.mr-22 {
  margin-right: 22px !important;
}

.mt-22 {
  margin-top: 22px !important;
}

.ml-22 {
  margin-left: 22px !important;
}

.mb-22 {
  margin-bottom: 22px !important;
}

.fs-22 {
  font-size: 22px !important;
}

.w-23 {
  width: 23% !important;
}

.h-23 {
  height: 23px !important;
}

.mr-23 {
  margin-right: 23px !important;
}

.mt-23 {
  margin-top: 23px !important;
}

.ml-23 {
  margin-left: 23px !important;
}

.mb-23 {
  margin-bottom: 23px !important;
}

.fs-23 {
  font-size: 23px !important;
}

.w-24 {
  width: 24% !important;
}

.h-24 {
  height: 24px !important;
}

.mr-24 {
  margin-right: 24px !important;
}

.mt-24 {
  margin-top: 24px !important;
}

.ml-24 {
  margin-left: 24px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.w-25 {
  width: 25% !important;
}

.h-25 {
  height: 25px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.ml-25 {
  margin-left: 25px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.fs-25 {
  font-size: 25px !important;
}

.w-26 {
  width: 26% !important;
}

.h-26 {
  height: 26px !important;
}

.mr-26 {
  margin-right: 26px !important;
}

.mt-26 {
  margin-top: 26px !important;
}

.ml-26 {
  margin-left: 26px !important;
}

.mb-26 {
  margin-bottom: 26px !important;
}

.fs-26 {
  font-size: 26px !important;
}

.w-27 {
  width: 27% !important;
}

.h-27 {
  height: 27px !important;
}

.mr-27 {
  margin-right: 27px !important;
}

.mt-27 {
  margin-top: 27px !important;
}

.ml-27 {
  margin-left: 27px !important;
}

.mb-27 {
  margin-bottom: 27px !important;
}

.fs-27 {
  font-size: 27px !important;
}

.w-28 {
  width: 28% !important;
}

.h-28 {
  height: 28px !important;
}

.mr-28 {
  margin-right: 28px !important;
}

.mt-28 {
  margin-top: 28px !important;
}

.ml-28 {
  margin-left: 28px !important;
}

.mb-28 {
  margin-bottom: 28px !important;
}

.fs-28 {
  font-size: 28px !important;
}

.w-29 {
  width: 29% !important;
}

.h-29 {
  height: 29px !important;
}

.mr-29 {
  margin-right: 29px !important;
}

.mt-29 {
  margin-top: 29px !important;
}

.ml-29 {
  margin-left: 29px !important;
}

.mb-29 {
  margin-bottom: 29px !important;
}

.fs-29 {
  font-size: 29px !important;
}

.w-30 {
  width: 30% !important;
}

.h-30 {
  height: 30px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.fs-30 {
  font-size: 30px !important;
}

.w-31 {
  width: 31% !important;
}

.h-31 {
  height: 31px !important;
}

.mr-31 {
  margin-right: 31px !important;
}

.mt-31 {
  margin-top: 31px !important;
}

.ml-31 {
  margin-left: 31px !important;
}

.mb-31 {
  margin-bottom: 31px !important;
}

.fs-31 {
  font-size: 31px !important;
}

.w-32 {
  width: 32% !important;
}

.h-32 {
  height: 32px !important;
}

.mr-32 {
  margin-right: 32px !important;
}

.mt-32 {
  margin-top: 32px !important;
}

.ml-32 {
  margin-left: 32px !important;
}

.mb-32 {
  margin-bottom: 32px !important;
}

.fs-32 {
  font-size: 32px !important;
}

.w-33 {
  width: 33% !important;
}

.h-33 {
  height: 33px !important;
}

.mr-33 {
  margin-right: 33px !important;
}

.mt-33 {
  margin-top: 33px !important;
}

.ml-33 {
  margin-left: 33px !important;
}

.mb-33 {
  margin-bottom: 33px !important;
}

.fs-33 {
  font-size: 33px !important;
}

.w-34 {
  width: 34% !important;
}

.h-34 {
  height: 34px !important;
}

.mr-34 {
  margin-right: 34px !important;
}

.mt-34 {
  margin-top: 34px !important;
}

.ml-34 {
  margin-left: 34px !important;
}

.mb-34 {
  margin-bottom: 34px !important;
}

.fs-34 {
  font-size: 34px !important;
}

.w-35 {
  width: 35% !important;
}

.h-35 {
  height: 35px !important;
}

.mr-35 {
  margin-right: 35px !important;
}

.mt-35 {
  margin-top: 35px !important;
}

.ml-35 {
  margin-left: 35px !important;
}

.mb-35 {
  margin-bottom: 35px !important;
}

.fs-35 {
  font-size: 35px !important;
}

.w-36 {
  width: 36% !important;
}

.h-36 {
  height: 36px !important;
}

.mr-36 {
  margin-right: 36px !important;
}

.mt-36 {
  margin-top: 36px !important;
}

.ml-36 {
  margin-left: 36px !important;
}

.mb-36 {
  margin-bottom: 36px !important;
}

.fs-36 {
  font-size: 36px !important;
}

.w-37 {
  width: 37% !important;
}

.h-37 {
  height: 37px !important;
}

.mr-37 {
  margin-right: 37px !important;
}

.mt-37 {
  margin-top: 37px !important;
}

.ml-37 {
  margin-left: 37px !important;
}

.mb-37 {
  margin-bottom: 37px !important;
}

.fs-37 {
  font-size: 37px !important;
}

.w-38 {
  width: 38% !important;
}

.h-38 {
  height: 38px !important;
}

.mr-38 {
  margin-right: 38px !important;
}

.mt-38 {
  margin-top: 38px !important;
}

.ml-38 {
  margin-left: 38px !important;
}

.mb-38 {
  margin-bottom: 38px !important;
}

.fs-38 {
  font-size: 38px !important;
}

.w-39 {
  width: 39% !important;
}

.h-39 {
  height: 39px !important;
}

.mr-39 {
  margin-right: 39px !important;
}

.mt-39 {
  margin-top: 39px !important;
}

.ml-39 {
  margin-left: 39px !important;
}

.mb-39 {
  margin-bottom: 39px !important;
}

.fs-39 {
  font-size: 39px !important;
}

.w-40 {
  width: 40% !important;
}

.h-40 {
  height: 40px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.fs-40 {
  font-size: 40px !important;
}

.w-41 {
  width: 41% !important;
}

.h-41 {
  height: 41px !important;
}

.mr-41 {
  margin-right: 41px !important;
}

.mt-41 {
  margin-top: 41px !important;
}

.ml-41 {
  margin-left: 41px !important;
}

.mb-41 {
  margin-bottom: 41px !important;
}

.fs-41 {
  font-size: 41px !important;
}

.w-42 {
  width: 42% !important;
}

.h-42 {
  height: 42px !important;
}

.mr-42 {
  margin-right: 42px !important;
}

.mt-42 {
  margin-top: 42px !important;
}

.ml-42 {
  margin-left: 42px !important;
}

.mb-42 {
  margin-bottom: 42px !important;
}

.fs-42 {
  font-size: 42px !important;
}

.w-43 {
  width: 43% !important;
}

.h-43 {
  height: 43px !important;
}

.mr-43 {
  margin-right: 43px !important;
}

.mt-43 {
  margin-top: 43px !important;
}

.ml-43 {
  margin-left: 43px !important;
}

.mb-43 {
  margin-bottom: 43px !important;
}

.fs-43 {
  font-size: 43px !important;
}

.w-44 {
  width: 44% !important;
}

.h-44 {
  height: 44px !important;
}

.mr-44 {
  margin-right: 44px !important;
}

.mt-44 {
  margin-top: 44px !important;
}

.ml-44 {
  margin-left: 44px !important;
}

.mb-44 {
  margin-bottom: 44px !important;
}

.fs-44 {
  font-size: 44px !important;
}

.w-45 {
  width: 45% !important;
}

.h-45 {
  height: 45px !important;
}

.mr-45 {
  margin-right: 45px !important;
}

.mt-45 {
  margin-top: 45px !important;
}

.ml-45 {
  margin-left: 45px !important;
}

.mb-45 {
  margin-bottom: 45px !important;
}

.fs-45 {
  font-size: 45px !important;
}

.w-46 {
  width: 46% !important;
}

.h-46 {
  height: 46px !important;
}

.mr-46 {
  margin-right: 46px !important;
}

.mt-46 {
  margin-top: 46px !important;
}

.ml-46 {
  margin-left: 46px !important;
}

.mb-46 {
  margin-bottom: 46px !important;
}

.fs-46 {
  font-size: 46px !important;
}

.w-47 {
  width: 47% !important;
}

.h-47 {
  height: 47px !important;
}

.mr-47 {
  margin-right: 47px !important;
}

.mt-47 {
  margin-top: 47px !important;
}

.ml-47 {
  margin-left: 47px !important;
}

.mb-47 {
  margin-bottom: 47px !important;
}

.fs-47 {
  font-size: 47px !important;
}

.w-48 {
  width: 48% !important;
}

.h-48 {
  height: 48px !important;
}

.mr-48 {
  margin-right: 48px !important;
}

.mt-48 {
  margin-top: 48px !important;
}

.ml-48 {
  margin-left: 48px !important;
}

.mb-48 {
  margin-bottom: 48px !important;
}

.fs-48 {
  font-size: 48px !important;
}

.w-49 {
  width: 49% !important;
}

.h-49 {
  height: 49px !important;
}

.mr-49 {
  margin-right: 49px !important;
}

.mt-49 {
  margin-top: 49px !important;
}

.ml-49 {
  margin-left: 49px !important;
}

.mb-49 {
  margin-bottom: 49px !important;
}

.fs-49 {
  font-size: 49px !important;
}

.w-50 {
  width: 50% !important;
}

.h-50 {
  height: 50px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.fs-50 {
  font-size: 50px !important;
}

.w-51 {
  width: 51% !important;
}

.h-51 {
  height: 51px !important;
}

.mr-51 {
  margin-right: 51px !important;
}

.mt-51 {
  margin-top: 51px !important;
}

.ml-51 {
  margin-left: 51px !important;
}

.mb-51 {
  margin-bottom: 51px !important;
}

.fs-51 {
  font-size: 51px !important;
}

.w-52 {
  width: 52% !important;
}

.h-52 {
  height: 52px !important;
}

.mr-52 {
  margin-right: 52px !important;
}

.mt-52 {
  margin-top: 52px !important;
}

.ml-52 {
  margin-left: 52px !important;
}

.mb-52 {
  margin-bottom: 52px !important;
}

.fs-52 {
  font-size: 52px !important;
}

.w-53 {
  width: 53% !important;
}

.h-53 {
  height: 53px !important;
}

.mr-53 {
  margin-right: 53px !important;
}

.mt-53 {
  margin-top: 53px !important;
}

.ml-53 {
  margin-left: 53px !important;
}

.mb-53 {
  margin-bottom: 53px !important;
}

.fs-53 {
  font-size: 53px !important;
}

.w-54 {
  width: 54% !important;
}

.h-54 {
  height: 54px !important;
}

.mr-54 {
  margin-right: 54px !important;
}

.mt-54 {
  margin-top: 54px !important;
}

.ml-54 {
  margin-left: 54px !important;
}

.mb-54 {
  margin-bottom: 54px !important;
}

.fs-54 {
  font-size: 54px !important;
}

.w-55 {
  width: 55% !important;
}

.h-55 {
  height: 55px !important;
}

.mr-55 {
  margin-right: 55px !important;
}

.mt-55 {
  margin-top: 55px !important;
}

.ml-55 {
  margin-left: 55px !important;
}

.mb-55 {
  margin-bottom: 55px !important;
}

.fs-55 {
  font-size: 55px !important;
}

.w-56 {
  width: 56% !important;
}

.h-56 {
  height: 56px !important;
}

.mr-56 {
  margin-right: 56px !important;
}

.mt-56 {
  margin-top: 56px !important;
}

.ml-56 {
  margin-left: 56px !important;
}

.mb-56 {
  margin-bottom: 56px !important;
}

.fs-56 {
  font-size: 56px !important;
}

.w-57 {
  width: 57% !important;
}

.h-57 {
  height: 57px !important;
}

.mr-57 {
  margin-right: 57px !important;
}

.mt-57 {
  margin-top: 57px !important;
}

.ml-57 {
  margin-left: 57px !important;
}

.mb-57 {
  margin-bottom: 57px !important;
}

.fs-57 {
  font-size: 57px !important;
}

.w-58 {
  width: 58% !important;
}

.h-58 {
  height: 58px !important;
}

.mr-58 {
  margin-right: 58px !important;
}

.mt-58 {
  margin-top: 58px !important;
}

.ml-58 {
  margin-left: 58px !important;
}

.mb-58 {
  margin-bottom: 58px !important;
}

.fs-58 {
  font-size: 58px !important;
}

.w-59 {
  width: 59% !important;
}

.h-59 {
  height: 59px !important;
}

.mr-59 {
  margin-right: 59px !important;
}

.mt-59 {
  margin-top: 59px !important;
}

.ml-59 {
  margin-left: 59px !important;
}

.mb-59 {
  margin-bottom: 59px !important;
}

.fs-59 {
  font-size: 59px !important;
}

.w-60 {
  width: 60% !important;
}

.h-60 {
  height: 60px !important;
}

.mr-60 {
  margin-right: 60px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.ml-60 {
  margin-left: 60px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.fs-60 {
  font-size: 60px !important;
}

.w-61 {
  width: 61% !important;
}

.h-61 {
  height: 61px !important;
}

.mr-61 {
  margin-right: 61px !important;
}

.mt-61 {
  margin-top: 61px !important;
}

.ml-61 {
  margin-left: 61px !important;
}

.mb-61 {
  margin-bottom: 61px !important;
}

.fs-61 {
  font-size: 61px !important;
}

.w-62 {
  width: 62% !important;
}

.h-62 {
  height: 62px !important;
}

.mr-62 {
  margin-right: 62px !important;
}

.mt-62 {
  margin-top: 62px !important;
}

.ml-62 {
  margin-left: 62px !important;
}

.mb-62 {
  margin-bottom: 62px !important;
}

.fs-62 {
  font-size: 62px !important;
}

.w-63 {
  width: 63% !important;
}

.h-63 {
  height: 63px !important;
}

.mr-63 {
  margin-right: 63px !important;
}

.mt-63 {
  margin-top: 63px !important;
}

.ml-63 {
  margin-left: 63px !important;
}

.mb-63 {
  margin-bottom: 63px !important;
}

.fs-63 {
  font-size: 63px !important;
}

.w-64 {
  width: 64% !important;
}

.h-64 {
  height: 64px !important;
}

.mr-64 {
  margin-right: 64px !important;
}

.mt-64 {
  margin-top: 64px !important;
}

.ml-64 {
  margin-left: 64px !important;
}

.mb-64 {
  margin-bottom: 64px !important;
}

.fs-64 {
  font-size: 64px !important;
}

.w-65 {
  width: 65% !important;
}

.h-65 {
  height: 65px !important;
}

.mr-65 {
  margin-right: 65px !important;
}

.mt-65 {
  margin-top: 65px !important;
}

.ml-65 {
  margin-left: 65px !important;
}

.mb-65 {
  margin-bottom: 65px !important;
}

.fs-65 {
  font-size: 65px !important;
}

.w-66 {
  width: 66% !important;
}

.h-66 {
  height: 66px !important;
}

.mr-66 {
  margin-right: 66px !important;
}

.mt-66 {
  margin-top: 66px !important;
}

.ml-66 {
  margin-left: 66px !important;
}

.mb-66 {
  margin-bottom: 66px !important;
}

.fs-66 {
  font-size: 66px !important;
}

.w-67 {
  width: 67% !important;
}

.h-67 {
  height: 67px !important;
}

.mr-67 {
  margin-right: 67px !important;
}

.mt-67 {
  margin-top: 67px !important;
}

.ml-67 {
  margin-left: 67px !important;
}

.mb-67 {
  margin-bottom: 67px !important;
}

.fs-67 {
  font-size: 67px !important;
}

.w-68 {
  width: 68% !important;
}

.h-68 {
  height: 68px !important;
}

.mr-68 {
  margin-right: 68px !important;
}

.mt-68 {
  margin-top: 68px !important;
}

.ml-68 {
  margin-left: 68px !important;
}

.mb-68 {
  margin-bottom: 68px !important;
}

.fs-68 {
  font-size: 68px !important;
}

.w-69 {
  width: 69% !important;
}

.h-69 {
  height: 69px !important;
}

.mr-69 {
  margin-right: 69px !important;
}

.mt-69 {
  margin-top: 69px !important;
}

.ml-69 {
  margin-left: 69px !important;
}

.mb-69 {
  margin-bottom: 69px !important;
}

.fs-69 {
  font-size: 69px !important;
}

.w-70 {
  width: 70% !important;
}

.h-70 {
  height: 70px !important;
}

.mr-70 {
  margin-right: 70px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.ml-70 {
  margin-left: 70px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.fs-70 {
  font-size: 70px !important;
}

.w-71 {
  width: 71% !important;
}

.h-71 {
  height: 71px !important;
}

.mr-71 {
  margin-right: 71px !important;
}

.mt-71 {
  margin-top: 71px !important;
}

.ml-71 {
  margin-left: 71px !important;
}

.mb-71 {
  margin-bottom: 71px !important;
}

.fs-71 {
  font-size: 71px !important;
}

.w-72 {
  width: 72% !important;
}

.h-72 {
  height: 72px !important;
}

.mr-72 {
  margin-right: 72px !important;
}

.mt-72 {
  margin-top: 72px !important;
}

.ml-72 {
  margin-left: 72px !important;
}

.mb-72 {
  margin-bottom: 72px !important;
}

.fs-72 {
  font-size: 72px !important;
}

.w-73 {
  width: 73% !important;
}

.h-73 {
  height: 73px !important;
}

.mr-73 {
  margin-right: 73px !important;
}

.mt-73 {
  margin-top: 73px !important;
}

.ml-73 {
  margin-left: 73px !important;
}

.mb-73 {
  margin-bottom: 73px !important;
}

.fs-73 {
  font-size: 73px !important;
}

.w-74 {
  width: 74% !important;
}

.h-74 {
  height: 74px !important;
}

.mr-74 {
  margin-right: 74px !important;
}

.mt-74 {
  margin-top: 74px !important;
}

.ml-74 {
  margin-left: 74px !important;
}

.mb-74 {
  margin-bottom: 74px !important;
}

.fs-74 {
  font-size: 74px !important;
}

.w-75 {
  width: 75% !important;
}

.h-75 {
  height: 75px !important;
}

.mr-75 {
  margin-right: 75px !important;
}

.mt-75 {
  margin-top: 75px !important;
}

.ml-75 {
  margin-left: 75px !important;
}

.mb-75 {
  margin-bottom: 75px !important;
}

.fs-75 {
  font-size: 75px !important;
}

.w-76 {
  width: 76% !important;
}

.h-76 {
  height: 76px !important;
}

.mr-76 {
  margin-right: 76px !important;
}

.mt-76 {
  margin-top: 76px !important;
}

.ml-76 {
  margin-left: 76px !important;
}

.mb-76 {
  margin-bottom: 76px !important;
}

.fs-76 {
  font-size: 76px !important;
}

.w-77 {
  width: 77% !important;
}

.h-77 {
  height: 77px !important;
}

.mr-77 {
  margin-right: 77px !important;
}

.mt-77 {
  margin-top: 77px !important;
}

.ml-77 {
  margin-left: 77px !important;
}

.mb-77 {
  margin-bottom: 77px !important;
}

.fs-77 {
  font-size: 77px !important;
}

.w-78 {
  width: 78% !important;
}

.h-78 {
  height: 78px !important;
}

.mr-78 {
  margin-right: 78px !important;
}

.mt-78 {
  margin-top: 78px !important;
}

.ml-78 {
  margin-left: 78px !important;
}

.mb-78 {
  margin-bottom: 78px !important;
}

.fs-78 {
  font-size: 78px !important;
}

.w-79 {
  width: 79% !important;
}

.h-79 {
  height: 79px !important;
}

.mr-79 {
  margin-right: 79px !important;
}

.mt-79 {
  margin-top: 79px !important;
}

.ml-79 {
  margin-left: 79px !important;
}

.mb-79 {
  margin-bottom: 79px !important;
}

.fs-79 {
  font-size: 79px !important;
}

.w-80 {
  width: 80% !important;
}

.h-80 {
  height: 80px !important;
}

.mr-80 {
  margin-right: 80px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.ml-80 {
  margin-left: 80px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.fs-80 {
  font-size: 80px !important;
}

.w-81 {
  width: 81% !important;
}

.h-81 {
  height: 81px !important;
}

.mr-81 {
  margin-right: 81px !important;
}

.mt-81 {
  margin-top: 81px !important;
}

.ml-81 {
  margin-left: 81px !important;
}

.mb-81 {
  margin-bottom: 81px !important;
}

.fs-81 {
  font-size: 81px !important;
}

.w-82 {
  width: 82% !important;
}

.h-82 {
  height: 82px !important;
}

.mr-82 {
  margin-right: 82px !important;
}

.mt-82 {
  margin-top: 82px !important;
}

.ml-82 {
  margin-left: 82px !important;
}

.mb-82 {
  margin-bottom: 82px !important;
}

.fs-82 {
  font-size: 82px !important;
}

.w-83 {
  width: 83% !important;
}

.h-83 {
  height: 83px !important;
}

.mr-83 {
  margin-right: 83px !important;
}

.mt-83 {
  margin-top: 83px !important;
}

.ml-83 {
  margin-left: 83px !important;
}

.mb-83 {
  margin-bottom: 83px !important;
}

.fs-83 {
  font-size: 83px !important;
}

.w-84 {
  width: 84% !important;
}

.h-84 {
  height: 84px !important;
}

.mr-84 {
  margin-right: 84px !important;
}

.mt-84 {
  margin-top: 84px !important;
}

.ml-84 {
  margin-left: 84px !important;
}

.mb-84 {
  margin-bottom: 84px !important;
}

.fs-84 {
  font-size: 84px !important;
}

.w-85 {
  width: 85% !important;
}

.h-85 {
  height: 85px !important;
}

.mr-85 {
  margin-right: 85px !important;
}

.mt-85 {
  margin-top: 85px !important;
}

.ml-85 {
  margin-left: 85px !important;
}

.mb-85 {
  margin-bottom: 85px !important;
}

.fs-85 {
  font-size: 85px !important;
}

.w-86 {
  width: 86% !important;
}

.h-86 {
  height: 86px !important;
}

.mr-86 {
  margin-right: 86px !important;
}

.mt-86 {
  margin-top: 86px !important;
}

.ml-86 {
  margin-left: 86px !important;
}

.mb-86 {
  margin-bottom: 86px !important;
}

.fs-86 {
  font-size: 86px !important;
}

.w-87 {
  width: 87% !important;
}

.h-87 {
  height: 87px !important;
}

.mr-87 {
  margin-right: 87px !important;
}

.mt-87 {
  margin-top: 87px !important;
}

.ml-87 {
  margin-left: 87px !important;
}

.mb-87 {
  margin-bottom: 87px !important;
}

.fs-87 {
  font-size: 87px !important;
}

.w-88 {
  width: 88% !important;
}

.h-88 {
  height: 88px !important;
}

.mr-88 {
  margin-right: 88px !important;
}

.mt-88 {
  margin-top: 88px !important;
}

.ml-88 {
  margin-left: 88px !important;
}

.mb-88 {
  margin-bottom: 88px !important;
}

.fs-88 {
  font-size: 88px !important;
}

.w-89 {
  width: 89% !important;
}

.h-89 {
  height: 89px !important;
}

.mr-89 {
  margin-right: 89px !important;
}

.mt-89 {
  margin-top: 89px !important;
}

.ml-89 {
  margin-left: 89px !important;
}

.mb-89 {
  margin-bottom: 89px !important;
}

.fs-89 {
  font-size: 89px !important;
}

.w-90 {
  width: 90% !important;
}

.h-90 {
  height: 90px !important;
}

.mr-90 {
  margin-right: 90px !important;
}

.mt-90 {
  margin-top: 90px !important;
}

.ml-90 {
  margin-left: 90px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.fs-90 {
  font-size: 90px !important;
}

.w-91 {
  width: 91% !important;
}

.h-91 {
  height: 91px !important;
}

.mr-91 {
  margin-right: 91px !important;
}

.mt-91 {
  margin-top: 91px !important;
}

.ml-91 {
  margin-left: 91px !important;
}

.mb-91 {
  margin-bottom: 91px !important;
}

.fs-91 {
  font-size: 91px !important;
}

.w-92 {
  width: 92% !important;
}

.h-92 {
  height: 92px !important;
}

.mr-92 {
  margin-right: 92px !important;
}

.mt-92 {
  margin-top: 92px !important;
}

.ml-92 {
  margin-left: 92px !important;
}

.mb-92 {
  margin-bottom: 92px !important;
}

.fs-92 {
  font-size: 92px !important;
}

.w-93 {
  width: 93% !important;
}

.h-93 {
  height: 93px !important;
}

.mr-93 {
  margin-right: 93px !important;
}

.mt-93 {
  margin-top: 93px !important;
}

.ml-93 {
  margin-left: 93px !important;
}

.mb-93 {
  margin-bottom: 93px !important;
}

.fs-93 {
  font-size: 93px !important;
}

.w-94 {
  width: 94% !important;
}

.h-94 {
  height: 94px !important;
}

.mr-94 {
  margin-right: 94px !important;
}

.mt-94 {
  margin-top: 94px !important;
}

.ml-94 {
  margin-left: 94px !important;
}

.mb-94 {
  margin-bottom: 94px !important;
}

.fs-94 {
  font-size: 94px !important;
}

.w-95 {
  width: 95% !important;
}

.h-95 {
  height: 95px !important;
}

.mr-95 {
  margin-right: 95px !important;
}

.mt-95 {
  margin-top: 95px !important;
}

.ml-95 {
  margin-left: 95px !important;
}

.mb-95 {
  margin-bottom: 95px !important;
}

.fs-95 {
  font-size: 95px !important;
}

.w-96 {
  width: 96% !important;
}

.h-96 {
  height: 96px !important;
}

.mr-96 {
  margin-right: 96px !important;
}

.mt-96 {
  margin-top: 96px !important;
}

.ml-96 {
  margin-left: 96px !important;
}

.mb-96 {
  margin-bottom: 96px !important;
}

.fs-96 {
  font-size: 96px !important;
}

.w-97 {
  width: 97% !important;
}

.h-97 {
  height: 97px !important;
}

.mr-97 {
  margin-right: 97px !important;
}

.mt-97 {
  margin-top: 97px !important;
}

.ml-97 {
  margin-left: 97px !important;
}

.mb-97 {
  margin-bottom: 97px !important;
}

.fs-97 {
  font-size: 97px !important;
}

.w-98 {
  width: 98% !important;
}

.h-98 {
  height: 98px !important;
}

.mr-98 {
  margin-right: 98px !important;
}

.mt-98 {
  margin-top: 98px !important;
}

.ml-98 {
  margin-left: 98px !important;
}

.mb-98 {
  margin-bottom: 98px !important;
}

.fs-98 {
  font-size: 98px !important;
}

.w-99 {
  width: 99% !important;
}

.h-99 {
  height: 99px !important;
}

.mr-99 {
  margin-right: 99px !important;
}

.mt-99 {
  margin-top: 99px !important;
}

.ml-99 {
  margin-left: 99px !important;
}

.mb-99 {
  margin-bottom: 99px !important;
}

.fs-99 {
  font-size: 99px !important;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100px !important;
}

.mr-100 {
  margin-right: 100px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.ml-100 {
  margin-left: 100px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.fs-100 {
  font-size: 100px !important;
}

html,
body {
  font-size: 14px;
  font-family: 'NotoSansCJKkr', sans-serif;
  color: #000;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #eee;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

/* 스크롤 바 */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* 스크롤 바 밑의 배경 */
::-webkit-scrollbar-thumb {
  background: rgba(9, 110, 178, 0.2);
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

/* 실질적 스크롤 바 */
::-webkit-scrollbar-thumb:hover {
  background: rgba(9, 110, 178, 0.6);
  background-clip: padding-box;
}

/* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */
::-webkit-scrollbar-thumb:active {
  background: #096eb2;
  background-clip: padding-box;
}

/* 실질적 스크롤 바를 클릭할 때 */
::-webkit-scrollbar-button {
  display: none;
}

/* 스크롤 바 상 하단 버튼 */
::-webkit-scrollbar-corner {
  background-color: #096eb2;
  /* 우측 하단의 코너 부분 */
}

.input-box {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 20px;
}

.input-box:last-child {
  margin-bottom: 0;
}

.input-box p {
  font-size: 13px;
  margin-bottom: 10px;
}

.input-box .switch {
  width: 289px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 0;
  border-radius: 5px;
  border: 1px solid rgba(127, 127, 127, 0.2);
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-box .switch > span {
  font-size: 14px;
  font-weight: normal;
  color: #000;
}

.input-box .switch .switch-button {
  height: 24px;
  width: 42px;
}

.input-box .switch .onoff-switch {
  border-radius: 70px;
}

.input-box .switch .onoff-switch::before {
  width: 20px;
  height: 20px;
}

.input-box .switch .switch-button input:checked + .onoff-switch:before {
  -webkit-transform: translateX(18px);
          transform: translateX(18px);
}

input.custom {
  width: 315px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgba(127, 127, 127, 0.2);
  padding: 0 20px;
}

input.custom::-webkit-input-placeholder {
  color: rgba(127, 127, 127, 0.5);
  font-family: 'NotoSansCJKkr';
  font-size: 13px;
}

input.custom:-ms-input-placeholder {
  color: rgba(127, 127, 127, 0.5);
  font-family: 'NotoSansCJKkr';
  font-size: 13px;
}

input.custom::-ms-input-placeholder {
  color: rgba(127, 127, 127, 0.5);
  font-family: 'NotoSansCJKkr';
  font-size: 13px;
}

input.custom::placeholder {
  color: rgba(127, 127, 127, 0.5);
  font-family: 'NotoSansCJKkr';
  font-size: 13px;
}

input.custom:-moz-read-only {
  background: rgba(238, 238, 238, 0.5);
  border: transparent;
}

input.custom:read-only {
  background: rgba(238, 238, 238, 0.5);
  border: transparent;
}

.switch {
  text-align: left;
  margin-bottom: 50px;
}

.switch .switch-button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 15px;
  margin-right: 5px;
}

.switch .switch-button input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .onoff-switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  background-color: #7f7f7f;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch .onoff-switch::before {
  position: absolute;
  content: '';
  height: 11px;
  width: 11px;
  left: 2px;
  bottom: 2px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.switch .switch-button input:checked + .onoff-switch {
  background-color: #009cde;
}

.switch .switch-button input:checked + .onoff-switch:before {
  -webkit-transform: translateX(11px);
          transform: translateX(11px);
}

.switch span {
  font-size: 12px;
  color: #7f7f7f;
}

.switch span.on {
  color: #fff;
}

button.btn {
  width: 315px;
  height: 48px;
  font-family: 'NanumSquareOTF';
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0;
          box-shadow: 0;
}

button.btn:hover {
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
}

button.btn.dark-blue {
  background: #096eb2;
  color: #fff;
}

button.btn.light-blue {
  background: #d9e8f3;
  color: #096eb2;
}

button.btn.sm {
  padding: 0 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  font-size: 13px;
  vertical-align: top;
}

button.custom {
  padding: 0 30px;
  border-radius: 5px;
  height: 48px;
  font-size: 16px;
  font-family: 'NanumSquareOTF';
  font-weight: 700;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0;
          box-shadow: 0;
}

button.custom:hover {
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
}

button.custom.dark-blue {
  color: #fff;
  background: #096eb2;
}

button.custom.navy {
  background: transparent;
  color: #002664;
  border: 1px solid #002664;
}

button.custom.light-blue {
  background: #d9e8f3;
  color: #096eb2;
}

button.custom.gray {
  background: rgba(127, 127, 127, 0.2);
  color: #7f7f7f;
}

button.custom.disabled {
  cursor: default;
  background: transparent;
  border: 1px solid rgba(127, 127, 127, 0.2);
  color: rgba(127, 127, 127, 0.2);
}

.select {
  height: 40px;
  width: 315px;
  position: relative;
  cursor: pointer;
}

.select:after {
  content: '';
  position: absolute;
  width: 12px;
  height: 6px;
  background: url(/resources/publish/images/select-arrow.svg) center center no-repeat;
  background-size: cover;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.select.active:after {
  -webkit-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
}

.select.active input:-moz-read-only {
  border: 1px solid #009cde;
  border-radius: 5px 5px 0 0;
  border-bottom: 0;
}

.select.active input:read-only {
  border: 1px solid #009cde;
  border-radius: 5px 5px 0 0;
  border-bottom: 0;
}

.select.active .select-dropdown {
  display: block;
}

.select input {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.select input:-moz-read-only {
  background: #fff;
  border: 1px solid rgba(127, 127, 127, 0.2);
}

.select input:read-only {
  background: #fff;
  border: 1px solid rgba(127, 127, 127, 0.2);
}

.select .select-dropdown {
  z-index: 2;
  display: none;
  position: absolute;
  left: 0;
  top: 40px;
  padding: 10px;
  width: 100%;
  background: #fff;
  border-radius: 0 0 5px 5px;
  border-left: 1px solid #009cde;
  border-right: 1px solid #009cde;
  border-bottom: 1px solid #009cde;
  max-height: 250px;
  overflow-y: scroll;
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
}

.select .select-dropdown::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 10px;
  width: calc(100% - 20px);
  height: 1px;
  background: rgba(112, 112, 112, 0.1);
}

.select .select-dropdown > li {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.select .select-dropdown > li:last-child {
  margin-bottom: 0;
}

.select .select-dropdown > li:hover {
  font-weight: 500;
  background: rgba(217, 232, 243, 0.5);
}

.select.disabled input {
  cursor: default;
}

.select.disabled input:-moz-read-only {
  background: rgba(238, 238, 238, 0.5);
  border: 0;
}

.select.disabled input:read-only {
  background: rgba(238, 238, 238, 0.5);
  border: 0;
}

header {
  background: #096eb2;
  height: 82px;
  border-radius: 0 0 15px 15px;
  margin-bottom: 10px;
}

header .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header h1 {
  width: 140px;
  margin-right: 30px;
}

header .title {
  width: 912px;
  height: 42px;
  line-height: 42px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.15);
  font-family: 'NanumSquareOTF';
  font-size: 16px;
  color: #fff;
  padding: 0 20px;
  margin-right: 100px;
}

header .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 540px;
}

header .user > a {
  color: #fff;
  font-size: 12px;
  text-decoration: underline;
  margin-right: 20px;
}

header .user > div a {
  background: #fff;
  border-radius: 5px;
  padding: 11px 15px;
  font-weight: 700;
  color: #002664;
  margin-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
header .user > div a > span{
	vertical-align: baseline;
}

header .user .custom {
  height: 42px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: #dddddd;
}

footer address {
  line-height: 50px;
  font-size: 12px;
  color: rgba(127, 127, 127, 0.5);
}

nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 30px;
}

nav .nav > li a {
  display: block;
  color: #002664;
  font-family: 'NanumSquareOTF';
  font-weight: 700;
  font-size: 16px;
  border-radius: 10px;
  padding: 15px 20px;
  cursor: pointer;
}

nav .nav > li:hover a, nav .nav > li.active a {
  background: #fff;
  font-weight: 800;
}

main {
  padding-bottom: 100px;
}

.card {
  width: 100%;
  padding: 10px;
  background: #fff;
  border: 1px solid rgba(127, 127, 127, 0.2);
  border-radius: 10px;
  position: relative;
}

.none {
  background: #7f7f7f;
}

@-webkit-keyframes scale {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
}

.modal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal.active .modal-wrap {
  -webkit-animation: scale 0.4s forwards;
          animation: scale 0.4s forwards;
}

.modal .modal-wrap {
  border: 1px solid #096eb2;
  background: #fff;
  border-radius: 10px;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.modal .modal-wrap .modal-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background: #096eb2;
  padding: 10px 20px;
  border-radius: 10px 10px 0 0;
}

.modal .modal-wrap .modal-head h2 {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.modal .modal-wrap .modal-head .close {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.modal .modal-wrap .modal-body {
  padding: 20px;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.tabs > li {
  padding: 0 10px 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-bottom: 3px solid transparent;
}

.tabs > li:hover, .tabs > li.active {
  color: #096eb2;
  border-bottom: 3px solid #009cde;
}

.member-detail {
  padding-left: 10px;
  height: 630px;
  overflow-y: scroll;
}

.member-detail > li {
  background: rgba(238, 238, 238, 0.5);
  border-radius: 5px;
  padding: 15px 30px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #7f7f7f;
  position: relative;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.member-detail > li > p {
  width: 50%;
  margin-bottom: 3px;
}

.member-detail > li > p:last-child {
  margin-bottom: 0;
}

.member-detail > li:last-child {
  margin-bottom: 0;
}

.member-detail > li .close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 18px;
  height: 18px;
  background: url("/resources/publish/images/close-btn.png");
  cursor: pointer;
}

.member-detail > li .close:hover {
  background: url("/resources/publish/images/close-hover.png");
}

.member-detail > li.active, .member-detail > li:hover {
  background: rgba(217, 232, 243, 0.5);
  border: 1px solid #096eb2;
  color: #096eb2;
}

.member-info {
  padding: 0 30px;
}

.member-info > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.member-info > li input,
.member-info > li .select {
  width: 289px;
}

.member-info > li .input-box {
  margin-bottom: 0;
}

.member-info > li.line {
  margin: 30px 0;
  height: 1px;
  background: #eee;
}

.member-info > li .id-check {
  position: relative;
}

.member-info > li .id-check input {
  width: 222px;
}

.member-info > li .id-check .error {
  position: absolute;
  bottom: -20px;
  text-align: right;
  right: 0;
  font-size: 12px;
  color: #ff0000;
}

.member-list {
  overflow-y: scroll;
  padding-left: 20px;
  height: 630px;
}

.member-list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 0 20px;
  background: rgba(238, 238, 238, 0.5);
  height: 58px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid transparent;
}

.member-list > li.active, .member-list > li:hover {
  border: 1px solid #096eb2;
  background: rgba(217, 232, 243, 0.5);
}

.member-list > li:last-child {
  margin-bottom: 0;
}

.member-list > li .memberName {
  font-size: 14px;
  font-weight: 500;
}

.member-list > li .agree,
.member-list > li .dis-agree {
  font-size: 12px;
}

.member-list > li .agree {
  color: #64a70b;
}

.member-list > li .dis-agree {
  color: #ff671f;
}

.sensor-list {
  padding: 10px 0 20px 20px;
  overflow-y: scroll;
  height: 630px;
}

.sensor-list > li .sensor-desc {
  border: 1px solid transparent;
}

.sensor-list > li.active .sensor-desc, .sensor-list > li:hover .sensor-desc {
  background: rgba(217, 232, 243, 0.5);
  border: 1px solid #096eb2;
}

.sensor-list.sensor-list-more > li .sensor-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  border: 1px solid transparent;
}

.sensor-list.sensor-list-more > li .sensor-desc > p {
  width: 50%;
  margin-bottom: 3px;
}

.sensor-list.sensor-list-more > li .sensor-desc > p:last-child {
  margin-bottom: 0;
}

.sensor-list.sensor-list-more > li .sensor-desc .close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 18px;
  height: 18px;
  background: url("/resources/publish/images/close-btn.png");
  cursor: pointer;
}

.sensor-list.sensor-list-more > li .sensor-desc .close:hover {
  background: url("/resources/publish/images/close-hover.png");
}

.sensor-list > li {
  cursor: pointer;
  margin-bottom: 15px;
}

.sensor-list > li:last-child {
  margin-bottom: 0;
}

.sensor-list > li.agree .sensor-index .sensor-name span {
  background: url("/resources/publish/images/sensor-b.png");
}

.sensor-list > li.agree .sensor-index .agree-btn {
  background: #096eb2;
  color: #fff;
  font-weight: 700;
  padding: 8px 15px;
}

.sensor-list > li .sensor-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
}

.sensor-list > li .sensor-index .sensor-name {
  font-weight: 500;
  margin-bottom: 8px;
}

.sensor-list > li .sensor-index .sensor-name span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/resources/publish/images/sensor-g.png");
  margin-right: 10px;
}

.sensor-list > li .sensor-index .agree-btn {
  color: #096eb2;
  font-family: 'NanumSquareOTF';
  font-size: 12px;
  border-radius: 5px 5px 0 0;
  padding: 8px 10px;
  cursor: pointer;
  border-top: 1px solid #096eb2;
  border-left: 1px solid #096eb2;
  border-right: 1px solid #096eb2;
  margin-right: 20px;
}

.sensor-list > li .sensor-desc {
  background: #f6f6f6;
  padding: 15px 30px;
  border-radius: 5px;
  color: #7f7f7f;
}

.button-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.button-container button {
  margin-right: 10px;
}

.button-container button:last-child {
  margin-right: 0;
}

#agreeModal .modal-body,
#deleteModal .modal-body,
#sensorDeleteModal .modal-body,
#memberDeleteModal .modal-body {
  text-align: center;
}

#agreeModal .custom,
#deleteModal .custom,
#sensorDeleteModal .custom,
#memberDeleteModal .custom {
  width: 170px;
  margin-right: 10px;
}

#agreeModal .custom:last-child,
#deleteModal .custom:last-child,
#sensorDeleteModal .custom:last-child,
#memberDeleteModal .custom:last-child {
  margin-right: 0;
}

#addCompanyModal .modal-body,
#addMemberModal .modal-body,
#sensorModifyModal .modal-body,
#modifyModal .modal-body,
#alarmModal .modal-body {
  width: 700px;
}

#addCompanyModal .button-container,
#addMemberModal .button-container,
#sensorModifyModal .button-container,
#modifyModal .button-container,
#alarmModal .button-container {
  position: static;
  text-align: right;
  padding: 0 30px;
}

#pwdModal .button-container,
#sensorAddModal .button-container {
  position: static;
  text-align: center;
  padding: 0 30px;
}

#pwdModal .button-container .custom,
#sensorAddModal .button-container .custom {
  width: 140px;
}

#pwdModal .id-check input,
#sensorAddModal .id-check input {
  width: 289px;
}

.pagination {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
}

.pagination > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination > ul > li {
  padding: 0 10px;
  font-size: 12px;
  color: #333;
  cursor: pointer;
}

.pagination > ul > li.arrow {
  padding: 0;
  width: 12px;
  height: 12px;
  background: url("/resources/publish/images/arrow-d.png") center center no-repeat;
  background-size: contain;
}

.pagination > ul > li.arrow:first-child {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pagination > ul > li.arrow:hover {
  background: url("/resources/publish/images/arrow-r.png") center center no-repeat;
  background-size: contain;
}

.pagination > ul > li:hover, .pagination > ul > li.active {
  font-weight: 700;
  color: #009cde;
}

.chart-btn-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.chart-btn-container > ul {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chart-btn-container > ul li {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background: #eee;
  margin-right: 10px;
}

.chart-btn-container > ul li:last-child {
  margin-right: 0;
}

.chart-btn-container > ul li:hover, .chart-btn-container > ul li.active {
  background: #096eb2;
}

.chart-btn-container > ul li:hover svg path, .chart-btn-container > ul li.active svg path {
  fill: #fff;
}

li.noData{
	background:rgba(238,238,238,0.5); 
	height:58px; 
	border-radius:5px; 
	padding: 0 30px !important; 
	line-height: 58px;
}

