<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="/css/app/main/main.css">
	<title>주차장 대시보드</title>
</head>

<body>
	<th:block th:replace="layout/header"></th:block>

	<main>
		<div class="userManagerCard">
			<div class="tabs">
				<div class="main">
					<input id="userList" type="radio" name="tabs" checked>
					<label for="userList">사용자</label>

					<input id="approveList" type="radio" name="tabs">
					<label for="approveList">승인 대기</label>

					<section id="userListSection">
						<div class="userUseYnBtnDiv">
							<button id="useYUserBtn" style="margin-right: 15px;">사용</button>
							<button id="useNUserBtn">미사용</button>
						</div>
						<div class="userListDiv">
							<table class="userListTable" style="width: 1400px">
								<colgroup>
									<col style="width: 115px;">
									<col style="width: 105px">
									<col style="width: 160px;">
									<col style="width: 190px;">
									<col style="width: 250px;">
									<col style="width: 190px;">
									<col style="width: 185px;">
									<col style="width: 200px">
									<col style="width: 200px">
									<col style="width: 200px">
								</colgroup>
								<thead>
									<tr>
										<th></th>
										<th>유저 ID</th>
										<th>관리자 이름</th>
										<th>관리자 번호</th>
										<th>관리구역</th>
										<th>관리자 권한</th>
										<th>사용여부</th>
										<th>승인일</th>
										<th>생성일</th>
										<th>수정일</th>
									</tr>
								</thead>
								<tbody>

								</tbody>
							</table>
						</div>
					</section>

					<section id="approveListSection">
						<div class="approveBtnBtnDiv">
							<button id="approveBtn">승인</button>
						</div>
						<div class="approveListDiv">
							<table class="approveListTable" style="width: 1400px">
								<colgroup>
									<col style="width: 115px;">
									<col style="width: 105px">
									<col style="width: 160px;">
									<col style="width: 190px;">
									<col style="width: 185px;">
									<col style="width: 200px">
								</colgroup>
								<thead>
								<tr>
									<th></th>
									<th>유저 ID</th>
									<th>관리자 이름</th>
									<th>관리자 번호</th>
									<th>승인여부</th>
									<th>승인요청일</th>
								</tr>
								</thead>
								<tbody>

								</tbody>
							</table>
						</div>
					</section>
				</div>
			</div>
		</div>
	</main>
</body>

<script type="text/JavaScript" src="/js/lib/jquery.js"></script>
<script type="text/JavaScript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type="text/javascript" src="/js/app/user/user.js"></script>

<script th:inline="javascript">

</script>
</html>